*{
    margin:0px;
    padding:0px;
}

.wrapper{
    
    margin: 5px 100px;
}


.header{
    text-align:center;
    padding:30px;
    border: 2px solid #f9f9f9;
}
header > h1 > a{
    text-decoration:none;
    color:black;
    font-size:80px;
}


.main-nav > ul{
    background-color:rgb(18, 152, 201);
    list-style:none;
}
.main-nav > ul > li{
    display:inline;
    padding: 10px;
    font-size: 20px;
}
.main-nav > ul > li >a{
            text-decoration:none;
            color:white;
}
.main-nav > ul > li >a:hover{
    background-color:black;
}


.content > img{
    display:block;
    width:40%;
    margin-left:auto;
    margin-right:auto;
    padding-bottom:10px;
}
.content{
    background-color:#f9f9f9;
    min-height:475px;
    font-size:20px;
    padding: 10px 50px;
}
.content > p{
    text-align:justify;
}


.footer{
    background-color:grey;
    text-align:center;
    padding:10px;
    font-size:18px;
}